{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="column is-6-desktop is-offset-3-desktop">
        <h2 class="title is-4 has-text-centered">Additional Information</h2>
        <hr>
        <p class="is-size-6 has-text-weight-light">Check It is a tool for validating and displaying content credentials attached to several well known file formats. The aim is to provide a method to establish where a piece of media came from and what has happened to it over its lifetime. This is known as the media's provenance.<br><br> By knowing how a piece of media came to be, the hope is that people can make more informed decisions about the type of content they consume and how much trust they place in it.<br><br><strong>NOTE: </strong>Content credentials are still in development and are subject to change.</p>
        <hr>
        <p class="is-size-6 has-text-centered has-text-weight-light">For more information, please click <a target="_blank" href="https://contentcredentials.org/"><strong>Here</strong></a> to read the offical content credential website.</p>
        <br>
        <div class="buttons is-centered">
            <a href="{{ url_for('report.demo') }}" class="button is-dark">See a demo</a>
        </div>
    </div>
{% endblock %}